*

# Look in all sub-directories
!*/*.py

# Python
!*.py

# Additional files
!*.md

# Requirements file
!requirements.txt

# Makefile
!Makefile

# Project file
!pyproject.toml
!.flake8

# Everything in rr_light
!rr_light/